{% extends 'base.html.twig' %}

{% block title %}Home
{% endblock %}

{% block body %}

	<div class="session">
		<h1>Page d'accueil</h1>

		<div class="txt-align margin-top30 bold font-size20 txt-decoration">
			Le nom de votre projet est :
		</div>

		<div class="txt-align margin-top30 bold font-size20 txt-decoration">
			Voulez-vous créer un autre projet ?
		</div>
	</div>
{% endblock %}
