@use '../mixins/mixins.scss';

.burger {
    position: absolute;
    top: 61.5px;
    right: 0;
    min-width: 350px;
    height: 100%;
    background-color: #f9b600;
    display: none;

    &.active {
        @include mixins.md {
            display: block;
        }
    }

    nav {
        min-width: 100%;
        height: 100%;

        ul {
            min-width: 100%;
            height: 100%;
            list-style: none;

            li {
                a {
                    display: block;
                    max-width: 100%;
                    text-decoration: none;
                    text-align: center;
                    font-size: 21px;
                    font-weight: bold;
                    padding: 20px 0;
                    color: black;
                }
            }
        }
    }
}