{% extends "base.html.twig" %}

{% block title %}
	Admin - Projets
{% endblock %}

{% block body %}

	<div class="session_container">
		<div class="session">
			<h1>Page Admin / Projets</h1>
		</div>
	</div>

{% endblock %}
