@use '../styles/footer/footer.scss';
@use '../styles/header/header.scss';
@use '../styles/burger/burger.scss';
@use '../styles/mixins/mixins.scss';

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    max-width: 100%;
    min-height: 100vh;
}

.session_container {
    max-width: 100%;
    min-height: 100vh;
    background-image: url('../../public/images/bowl-palm-with-star-anises-cinnamon-sticks-around.jpg');
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
}

.session {
    max-width: 100%;
    min-height: 100vh;
}

h1 {
    padding-top: 160px;
    text-align: center;
}

.form {
    max-width: 350px;
    margin: auto;

    ul {
        list-style: none;

        li {
            max-width: 100%;
            background-color: #e47d7d;
            margin: 10px 0 10px -30px;
        }
    }
}

.flex {
    display: flex;
    flex-direction: column;
}

.align-items {
    align-items: center;
}

.txt-align {
    text-align: center;
}

.margin-top30 {
    margin-top: 30px;
}

.bold {
    font-weight: bold;
}

.font-size20 {
    font-size: 20px;
}

.txt-decoration {
    text-decoration: underline;
}

.error403,
.error404 {
    max-width: 100%;
    min-height: 100vh;
    background-image: url('../../public/images/erreur-404-personnes-detenant-illustration-concept-nombres_114360-7923.jpg');
    background-repeat: no-repeat;
    background-position: center;
    background-size: contain;
}

.alert,
.alert2 {
    position: absolute;
    min-width: 100%;
}

.alert2 {
    margin-top: 60px;
}